body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f4f4f4;
}

header{
    background:#2e7d32;
    color:white;
    text-align:center;
    padding:20px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:10px;
}

.banner{
    background:#81c784;
    text-align:center;
    padding:50px 20px;
}

section{
    background:white;
    margin:20px;
    padding:20px;
    border-radius:10px;
}

h2{
    color:#2e7d32;
}

button{
    background:#2e7d32;
    color:white;
    border:none;
    padding:10px 15px;
    border-radius:5px;
    cursor:pointer;
}

input, textarea{
    width:100%;
    padding:10px;
    margin:10px 0;
}

footer{
    background:#2e7d32;
    color:white;
    text-align:center;
    padding:15px;
}

