body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f4f4f4;
}

header{
    background:#2e7d32;
    color:white;
    text-align:center;
    padding:20px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:10px;
}

.banner{
    background:#81c784;
    text-align:center;
    padding:50px 20px;
}

section{
    background:white;
    margin:20px;
    padding:20px;
    border-radius:10px;
}

h2{
    color:#2e7d32;
}

button{
    background:#2e7d32;
    color:white;
    border:none;
    padding:10px 15px;
    border-radius:5px;
    cursor:pointer;
}

input, textarea{
    width:100%;
    padding:10px;
    margin:10px 0;
}

footer{
    background:#2e7d32;
    color:white;
    text-align:center;
    padding:15px;
}





.galeria-agrinho {
    padding: 40px;
    text-align: center;
    background-color: #f4f9f4; /* Verde bem claro */
}

.container-imagens {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /* Ajusta para celular */
}

.card-imagem {
    position: relative;
    width: 45%;
    min-width: 300px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.card-imagem img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.5s;
}

.card-imagem:hover img {
    transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
}

.legenda {
    padding: 15px;
    background: #2e7d32; /* Verde forte sustentável */
    color: white;
}
